.cards-wrapper {
  display: flex;
  gap: 24px;
  margin-top: -18rem;
  width: 59.375%;

  @include media("<=1400px") {
    flex-direction: column;
    align-items: center;
    gap: 90px;
  }

  .card {
    min-height: 802px;
    width: 364px;
    background-color: white;
    box-shadow: 4px 12px 40px rgba(8, 27, 62, 0.3);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #454557;
    position: relative;

    @include media("<=500px") {
      min-height: 879px;
    }

    &-image {
      height: 183px;
      margin-top: -3rem;
    }

    .best-value {
      background: linear-gradient(
        88.07deg,
        #97dcf0 34.81%,
        #9bdeef 34.82%,
        #b9f2e9 86.23%
      );
      box-shadow: 0px 4px 14px rgba(162, 236, 255, 0.6);
      border-radius: 50px 0px;
      font-weight: 700;
      font-size: 14px;
      color: #333333;
      width: 152px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }

    .discount {
      width: 90px;
      height: 90px;
      background: #f72928;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      font-weight: 700;
      position: absolute;
      top: -4rem;
      left: 2.5rem;

      .title {
        font-size: 30px;
        line-height: 22.5px;
      }

      .subtitle {
        font-size: 15px;
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 31.5 - 26px;

      .title {
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;

        @include media("<=1500px") {
          font-size: 20px;
        }

        @include media("<=400px") {
          font-size: 24px;
        }
      }

      .subtitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        @include media("<=400px") {
          font-size: 16px;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 23px;

      .title {
        color: #ff5958;
        font-weight: 700;
        font-size: 26px;
      }

      .subtitle {
        display: flex;
        gap: 0.3rem;
        font-size: 13px;
        color: #7e7e9c;

        .new-price {
          font-weight: 700;
        }

        .old-price {
          text-decoration: line-through;
        }
      }
    }

    .buy-now {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 13px;

      .btn {
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        padding: 14px 88px;
        border: 1px solid #454557;
        filter: drop-shadow(0px 8px 20px rgba(252, 108, 88, 0.3));
        border-radius: 8px;
        background-color: transparent;

        @include media("<=1450px") {
          font-size: 15px;
        }

        @include media("<=400px") {
          font-size: 20px;
        }

        &.glow {
          background: linear-gradient(182.22deg, #ffd800 -0.05%, #ffa700 98%);
          border: 1px solid #edb100;
          box-shadow: 0px 8px 20px rgba(252, 108, 88, 0.1);
        }
      }

      .subtitle {
        color: #7e7e9c;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 13px;
      }
    }

    .seperator {
      height: 1px;
      width: calc(100% - 64px);
      background: #dddddd;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    .includes {
      display: flex;
      flex-direction: column;
      width: 100%;

      .down-arrow {
        margin-left: 5px;
      }

      .title {
        padding: 0 32px;
        font-weight: 500;
        font-size: 15px;
      }

      .list {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-left: 32px;
        align-items: center;

        @include media("<=1846px") {
          font-size: 14px;
        }

        @include media("<=1600px") {
          font-size: 12px;
        }

        @include media("<=500px") {
          font-size: 16px;
          margin-bottom: 10px;
        }

        &-item {
          width: 100%;
          border-radius: 10px;
          display: flex;
          margin-top: 12px;
          gap: 0.4rem;

          &.glow {
            background-color: #ffc0011a;
            padding: 16px 14px;
            margin-left: -28px;
            width: calc(100% - 28px);
          }

          &-image {
            margin-top: 4px;
          }

          &-text {
            display: block;

            .text-bold {
              font-weight: 700;
              margin-right: 5px;
            }

            @include media("<=500px") {
              padding-right: 20px;
            }
          }
        }
      }
    }

    .footer-card {
      font-family: "Inter";
      color: #7e7e9c;
      position: absolute;
      bottom: 1rem;
      font-weight: 400;
      font-size: 11px;
    }
  }
}
