.experts-saying {
  height: 558px;
  width: 59.375%;
  color: #2e2e39;
  margin-top: 156px;
  display: flex;
  margin-bottom: 30px;

  @include media("<=1600px") {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    text-align: center;
    gap: 40px;
  }

  .left-side {
    width: 50%;

    @include media("<=1200px") {
      width: 90%;
    }

    .title {
      font-size: 48px;
      font-weight: 700;

      @include media("<=800px") {
        font-size: 8vw;
      }
    }
  }

  .items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    .item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 400;
      font-size: 18px;

      @include media("<=1500px") {
        align-items: center;
      }
    }
  }

  .right-side {
    .image {
      @include media("<=1200px") {
        width: 100%;
      }
    }
  }
}
