@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 800;
  src: url(../fonts/red-hat.display-black.otf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 700;
  src: url(../fonts/RedHatDisplay-Bold.ttf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 600;
  src: url(../fonts/RedHatDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  src: url(../fonts/red-hat.display-medium.otf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 400;
  src: url(../fonts/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(../fonts/Inter-Regular.ttf);
}
