@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 800;
  src: url(../fonts/red-hat.display-black.otf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 700;
  src: url(../fonts/red-hat.display-bold.otf);
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  src: url(../fonts/red-hat.display-medium.otf);
}
