html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display";
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

@import "./fonts";
@import "./topbar";
@import "./header";
@import "./cards";
@import "./virus-report";
@import "./experts-saying";
@import "./features";
@import "./footer";
